
.password-complexity {
  width: 100%;
  height: 12px;
  background: #eeeeee;
  display: block;
  text-align: center;
  border-radius: 8px;

  &.complexity-0 {
    background: linear-gradient(
      to right,
      var(--lighter-red) 00%,
      #eeeeee 20%
    );
  }

  &.complexity-1 {
    background: linear-gradient(
      to right,
      #ff5000 20%,
      #eeeeee 40%
    );
  }

  &.complexity-2 {
    background: linear-gradient(
      to right,
      var(--orange) 40%,
      #eeeeee 60%
    );
  }

  &.complexity-3 {
    background: linear-gradient(
      to right,
      #ffd000 60%,
      #eeeeee 80%
    );
  }

  &.complexity-4 {
    background: var(--green);
  }
}
